# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


out/
.vscode
.iml
/.idea/
/.idea
.idea
.idea/
lib/
target/*
/target/*
/target
/target/**
/target/**/classes
src/test/**