# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#vs code
.vscode
#intellij
.idea
#program output
out/
.target
#library
.lib
#line chart
line_chart.png

.classpath

.project